<div class="container p-3">

  <form action="" [formGroup]="mainForm">
    <ng-container formArrayName="lessons">
    <ng-container *ngFor="let lessonForm of lessons.controls; let i = index">
      <div [formGroupName]="i">
          <div class="mb-3">
            <label for="lessonTitle" class="form-label">Lesson Title</label>
            <input formControlName="lessonTitle" type="text" class="form-control" id="lessonTitle" aria-describedby="lessonTitle">
          </div>
          <div class="mb-3">
            <label for="lessonAuthor" class="form-label">Lesson Author</label>
            <input formControlName="lessonAuthor" type="text" class="form-control" id="lessonAuthor" aria-describedby="lessonAuthor">
          </div>
      </div>
      </ng-container>
    </ng-container>
    <button type="button" (click)="addLesson()" class="btn btn-primary">Loader</button>
  </form>
  
</div>